<html>
    <head>
        <link rel="stylesheet" href="../static/assets/bootstrap.min.css">
        <link rel="stylesheet" href="../static/style.css">

        <script src="../static/assets/js/jquery-3.6.0.min.js"></script>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header >
            <div class="blacklayer d-flex align-items-center text-center justify-content-center">
                <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
                    <div class="container">
                    <a class="navbar-brand" href="#"><span class="blue">FAKE NEWS </span> <span class="yellow">DETECTOR</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">

                        <ul class="navbar-nav left">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Statics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('trusted') }}">Trusted Source</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>


                <div class="header-content text-white px-5">
                    <h2>Trusted Sources</h2>
                        <div class="col-md-1 d-inline-block mx-4">
                            <a href="https://www.bbc.com/news"><img class="logo" src="../static/assets/bbcnewslogo.png"></a>
                        </div>
                        <div class="col-md-1 d-inline-block mx-4">
                            <a href="https://www.foxnews.com/"><img class="logo" src="../static/assets/foxnewslogo.png"></a>
                        </div>
                        <div class="col-md-1 d-inline-block mx-4">
                            <a href="https://news.sky.com/"><img class="logo" src="../static/assets/skynewslogo.png"></a>
                        </div>
                </div>


            </div>
        </header>


    </body>
</html>